
#banner {
    width: 100%;
}
.principal {
    background: #CCCCCC;
    padding: 30px;
}
.titulo-pincipal {
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center;
}

p {
    text-align: center;
}

/* Todo elemento "strong" dentro do elemento pai "em" */
em strong {
    color: #FF0000;
}

#missao {
    font-size: 20px;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagemBeneficios {
    width: 50%;

}